@model PagedList.IPagedList<Model.Entity.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Nhà Cung Cấp</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã Nhà Cung Cấp</th>
                        <th>Tên Nhà Cung Cấp</th>
                        <th>Logo</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (var item in Model)
                    {
                        <tr class="row_@item.MaNCC">
                            <td>@item.MaNCC</td>
                            <td>@item.TenNCC</td>
                            <td>@item.Logo</td>
                            <td>@item.Email</td>
                            <td>@item.SDT</td>
                            <td>
                                <a href="/Admin/NhaCungCap/Edit/@item.MaNCC">Sửa</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete", new { @ma = item.MaNCC }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có chắc muốn xóa",
                                               OnComplete = "$('#row_" + item.MaNCC + "').remove()",
                                               HttpMethod = "Delete"
                                           }
                                                )
                                |
                                @Html.ActionLink("Thêm", "Create", "DanhMuc")
                            </td>
                        </tr>

                    }

                </tfoot>
            </table>
        </div>
    </div>
</div>
